{% extends "base.html" %}
{% load static %} 
{% block content %}

<!-- tmp banner area start -->
<div class="rpp-banner-three-area">
    <div class="container">
        <div class="banner-three-main-wrapper">
            <div class="row">
                <div class="col-lg-4">
                    <div class="inner">
                        <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">Hello i’m</span>
                        <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-2">Arpan Dey</h1>
                        <div class="button-area-banner-three tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <a class="tmp-btn hover-icon-reverse radius-round" href="portfolio-details.html">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Portfolio</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="banner-right-content">
                        <div class="about-me tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <h3 class="title">About Me</h3>
                            <p class="para tmp-title-split"><span>Code</span> is my canvas, <span>logic</span> is my brush, <br> and <span>innovation</span> is my masterpiece.</p>
                        </div>
                        <div class="find-me-on mt--40 tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <h2 class="find-me-on-title">Find me on</h2>
                            <div class="social-link banner">
                                <a href="https://www.instagram.com/aarpan.dey/"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/arpan8925/"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://x.com/ArpanDe81196901"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://www.facebook.com/arpan8925/"><i class="fa-brands fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-benner-img-three">
                <img class="tmp-scroll-trigger tmp-zoom-in animation-order-2" src="{% static 'images/banner/banner-user-image-three.png' %}" alt="banner-img-3">
            </div>
            <h6 class="texts-one up-down-2">SaaS Developer</h6>
            <h6 class="texts-two up-down">SaaS Developer</h6>
        </div>
    </div>
</div>
<!-- tmp banner area end -->

<!-- Tpm Service Area Start -->
<section class="service-area tmp-section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-1 tmp-link-animation">
                    <div class="service-card-icon">
                        <i class="fa-brands fa-python"></i>
                    </div>
                    <h4 class="service-title"><a href="https://github.com/arpan8925?tab=repositories&q=&type=&language=python&sort=">Python Projects</a></h4>
                    <p class="service-para">22 Projects</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-2 tmp-link-animation">
                    <div class="service-card-icon">
                        <i class="fa-brands fa-wordpress-simple"></i>
                    </div>
                    <h4 class="service-title"><a href="service-details.html">WordPress Projects</a></h4>
                    <p class="service-para">24 Projects</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
                    <div class="service-card-icon">
                        <i class="fa-brands fa-google-play"></i>
                    </div>
                    <h4 class="service-title"><a href="service-details.html">Apps Developed</a></h4>
                    <p class="service-para">4 Projects</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-4 tmp-link-animation">
                    <div class="service-card-icon">
                        <img src="https://img.icons8.com/?size=50&id=fF39hkEhFlir&format=png&color=FF494A" alt="Upwork Icon" />
                    </div>
                    <h4 class="service-title"><a href="service-details.html">Upwork Jobs Completed</a></h4>
                    <p class="service-para">8 Projects</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Tpm Service Area End -->

<!-- Tpm Counter Area Start -->
<section class="counter-area">
    <div class="container">
        <div class="row g-5">
            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="year-of-expariance-wrapper bg-blur-style-one tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <div class="year-expariance-wrap">
                        <!-- <h2 class="year-number"><span class="counter">25 </span> </h2> -->
                        <h2 class="counter year-number"><span class=".odometer.odometer-auto-theme, .odometer.odometer-theme-default">0</span><span class="odometer" data-count="05">00</span>
                        </h2>
                        <h3 class="year-title">Years Of <br> experience</h3>
                    </div>
                    <p class="year-para">Started my journey as a Web Developer and am now working full-time in SaaS and AI Development.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="counter-area-right-content">
                    <div class="row g-5">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <h3 class="counter counter-title"><span class="odometer" data-count="20">00</span>+
                                </h3>
                                <p class="counter-para">Project Completed</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                                <h3 class="counter counter-title"><span class="odometer" data-count="01">00</span>+
                                </h3>
                                <p class="counter-para">Contributions Done</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                                <h3 class="counter counter-title"><span class="odometer" data-count="8">00</span>+
                                </h3>
                                <p class="counter-para">Client Reviews</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                                <h3 class="counter counter-title"><span class="odometer" data-count="36">00</span>+
                                </h3>
                                <p class="counter-para">Satisfied Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Tpm Counter Area End -->

<!-- Tpm Latest Service Area Start -->
<section class="latest-service-area tmp-section-gapTop">
    <div class="container">
        <div class="section-head mb--60">
            <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                <span class="subtitle">It's Me</span>
            </div>
            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Why Choosing Me</h2>
            <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3"> As a versatile developer, I specialize in creating dynamic websites, innovative SaaS solutions, and engaging apps.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <h2 class="service-card-num"><span>01.</span>Web Development Expertise</h2>
                    <p class="service-para">With extensive experience in web development, I craft responsive and user-friendly websites tailored to your needs.</p>
                </div>
                <div class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                    <h2 class="service-card-num"><span>02.</span>SaaS and App Innovation</h2>
                    <p class="service-para">I build scalable SaaS solutions and intuitive mobile applications that drive business growth.</p>
                </div>
                <div class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                    <h2 class="service-card-num"><span>03.</span>Fivem Scripting</h2>
                    <p class="service-para">I create interactive and immersive digital experiences through game scripting and innovative design.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-card-user-image">
                    <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="{% static 'images/services/latest-services-user-image-two.png' %}" alt="latest-user-image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Tpm Latest Service Area End -->

<!-- tmp skill area start -->
<div class="tmp-skill-area tmp-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="progress-wrapper">
                    <div class="content">
                        <h2 class="custom-title mb--30 tmp-scroll-trigger tmp-fade-in animation-order-1">
                            Primary Skills <span><img src="{% static 'images/custom-line/custom-line.png' %}" alt="custom-line"></span>
                        </h2>
                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Python</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 90%; visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">80%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Django</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 95%; visibility: visible; animation-duration: 0.6s; animation-delay: 0.4s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">95%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                WordPress</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 90%; visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">90%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Elementor</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 95%; visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">95%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="progress-wrapper">
                    <div class="content">
                        <h2 class="custom-title mb--30 tmp-scroll-trigger tmp-fade-in animation-order-1">
                            Extra <span><img src="{% static 'images/custom-line/custom-line.png' %}" alt="custom-line"></span>
                        </h2>
                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Flutter</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 30%; visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">30%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Lua - Fivem Scripting</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 75%; visibility: visible; animation-duration: 0.6s; animation-delay: 0.4s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">75%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Adobe Premiere Pro</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 60%; visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">60%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Ai Automation ( Python & RestAPI )</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 80%; visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">80%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tmp skill area end -->

<section class="resume-section tmp-section-gapTop" id="resume-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-header mb--50 tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <h2 class="section-title"><i class="fa-regular fa-award"></i> My Experience</h2>
                </div>

                <div class="resume-widget">
                    <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i> 2022 -
                            Present</div>
                        <h3 class="resume-title">Tech Team Lead</h3>
                        <div class="institute">Zahids Chem Clinic</div>
                    </div>
                    <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i>2022 - 2023</div>
                        <h3 class="resume-title">WordPress Course Mentor</h3>
                        <div class="institute">Learning Loft BD</div>
                    </div>
                    <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-3">                        
                        <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i>2021 - 2022</div>
                        <h3 class="resume-title">WordPress & Freelancing Course Mentor</h3>
                        <div class="institute">Pixel Computer Training Institute.</div>
                    </div>
                    <div class="resume-single mb--0 tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i> 2020 -
                            Present</div>
                        <h3 class="resume-title">Freelance Web Developer</h3>
                        <div class="institute">Upwork</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="section-header mb--50 tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <h2 class="section-title"> <i class="fa-regular fa-graduation-cap"></i> My Education</h2>
                </div>

                <div class="resume-widget">
                    <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i> 2023 -
                            Present</div>
                        <h3 class="resume-title">Bachelors of Engineering ~ CSE</h3>
                        <div class="institute">Gujarat Technological University, Ahmedabad, Gujarat.</div>
                    </div>
                    <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i>2022 - 2023</div>
                        <h3 class="resume-title">ICCR Scholar 🇮🇳</h3>
                        <div class="institute">Indian Full Funded Scholarship Holder</div>
                    </div>
                    <div class="resume-single mb--0 tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i> 2021 -
                            2022</div>
                        <h3 class="resume-title">HSC - 5.00</h3>
                        <div class="institute">Chittagong University Engineering School & College</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tpm Our Supported Company Area Start -->
<div class="our-supported-company-area tmp-section-gap">
    <div class="container">
        <div class="section-head mb--60">
            <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                <span class="subtitle">Trusted by</span>
            </div>
            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Inspiring Partnerships</h2>
            <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">A shared journey of innovation and impact with leading industry names.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <img src="{% static 'images/our-supported-company/company-logo-1.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-2">
                    <img src="{% static 'images/our-supported-company/company-logo-2.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-3">
                    <img src="{% static 'images/our-supported-company/company-logo-3.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-4">
                    <img src="{% static 'images/our-supported-company/company-logo-4.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-5">
                    <img src="{% static 'images/our-supported-company/company-logo-5.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-6">
                    <img src="{% static 'images/our-supported-company/company-logo-6.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-7">
                    <img src="{% static 'images/our-supported-company/company-logo-7.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-8">
                    <img src="{% static 'images/our-supported-company/company-logo-8.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tpm Our Supported Company Area End -->


<div class="tpm-custom-box-bg">
    <!-- Tpm Latest Portfolio Area Start -->
    <div class="latest-portfolio-area custom-column-grid">
        <div class="container">
            <div class="section-head mb--60">
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">Impressing Portfolio</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">My Proud Projects</h2>
                <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">Highlighting the innovative and impactful projects I’ve worked on, demonstrating my skills and achievements.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="{% url 'project_details' %}">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'images/latest-portfolio/portfoli-img-1.jpg' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{% static 'images/latest-portfolio/portfoli-img-1.jpg' %}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a class="link" href="{% url 'project_details' %}">Self Hosted Mini Media Server</a>
                                </h3>
                                <p class="portfoli-card-para">Made using Python FastAPI</p>
                            </div>
                            <a href="{% url 'project_details' %}" class="tmp-arrow-icon-btn">
                                <div class="btn-inner">
                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="latest-portfolio-card mt--100 mt_sm--0 mt_md--50 tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'images/latest-portfolio/portfoli-img-2.jpg' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{% static 'images/latest-portfolio/portfoli-img-2.jpg' %}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>

                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a class="link" href="project-details.html">My Professional Portfolio
                                </h3>
                                <p class="portfoli-card-para"> Development Coaches</p>
                            </div>
                            <a href="project-details.html" class="tmp-arrow-icon-btn">
                                <div class="btn-inner">
                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'images/latest-portfolio/portfoli-img-3.jpg' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{% static 'images/latest-portfolio/portfoli-img-3.jpg' %}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a class="link" href="project-details.html">My Portfolio of Innovation</a>
                                </h3>
                                <p class="portfoli-card-para">App Development</p>
                            </div>
                            <a href="project-details.html" class="tmp-arrow-icon-btn">
                                <div class="btn-inner">
                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="latest-portfolio-card mt--100 mt_sm--0 mt_md--50 tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'images/latest-portfolio/portfoli-img-4.jpg' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{% static 'images/latest-portfolio/portfoli-img-4.jpg' %}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a class="link" href="project-details.html">A Portfolio of Creativity and Passion</a>
                                </h3>
                                <p class="portfoli-card-para">Business Development</p>
                            </div>
                            <a href="project-details.html" class="tmp-arrow-icon-btn">
                                <div class="btn-inner">
                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tpm Latest Portfolio Area End --
</div>


<!-- tmp Clients Testimonial Start -->
<section class="clients-testimonial-area tmp-section-gapTop">
    <div class="section-head mb--50">
        <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
            <span class="subtitle">Clients Testimonial</span>
        </div>
        <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">What My Clients Say
            through</h2>
        <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">Read how my development services have helped businesses turn their visions into reality and achieve outstanding results.</p>
    </div>
    <div class="client-testimonial-swiper position-relative">
        <div class="swiper testimonial-swiper-v2">
            <div class="swiper-wrapper">
                <div class="swiper-slide tmp-scroll-trigger animation-order-1" onclick="window.location='https://www.upwork.com/freelancers/~01bc7eff9d3d364db6';">
                    <div class="client-testimonial-card-wrap">
                        <div class="client-card-head">
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="" alt="">

                                </div>
                                <div class="client-details">
                                    <h3 class="client-title">Subang Jaya</h3>
                                    <p class="client-para">Malaysia</p>
                                </div>
                            </div>
                            <div class="tmp-star">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="client-para">I highly recommend Mr. Arpan to anyone looking for a talented and dedicated website designer. His expertise and professionalism are truly unmatched, and I look forward to working with him again in the future. Thank you, Mr. Arpan, for your outstanding work!</p>
                        <div class="quat-logo">
                            <img src="{% static 'images/testimonial/quat-logo.svg' %}" alt="quat-logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tmp-scroll-trigger animation-order-2" onclick="window.location='https://www.upwork.com/freelancers/~01bc7eff9d3d364db6';">
                    <div class="client-testimonial-card-wrap">
                        <div class="client-card-head">
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="" alt="">

                                </div>
                                <div class="client-details">
                                    <h3 class="client-title">Adward John</h3>
                                    <p class="client-para">USA</p>
                                </div>
                            </div>
                            <div class="tmp-star">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="client-para">We are very happy with the work he is doing for our companies. He is responsive, attentive, and highly proficient with providing quick resolution of WordPress issues. We highly recommend his development and technical expertise for any business!</p>
                        <div class="quat-logo">
                            <img src="{% static 'images/testimonial/quat-logo.svg' %}" alt="quat-logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tmp-scroll-trigger animation-order-3" onclick="window.location='https://www.upwork.com/freelancers/~01bc7eff9d3d364db6';">
                    <div class="client-testimonial-card-wrap">
                        <div class="client-card-head">
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="" alt="">

                                </div>
                                <div class="client-details">
                                    <h3 class="client-title">Jack Arazi</h3>
                                    <p class="client-para">UK</p>
                                </div>
                            </div>
                            <div class="tmp-star">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="client-para">Very efficient freelancer and hard working he has done a very good job and would recommend him and use him in the future
                            Many thanks</p>
                        <div class="quat-logo">
                            <img src="{% static 'images/testimonial/quat-logo.svg' %}" alt="quat-logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tmp-scroll-trigger animation-order-4" onclick="window.location='https://www.upwork.com/freelancers/~01bc7eff9d3d364db6';">
                    <div class="client-testimonial-card-wrap">
                        <div class="client-card-head">
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="" alt="">

                                </div>
                                <div class="client-details">
                                    <h3 class="client-title">Paul Gallagher</h3>
                                    <p class="client-para">USA</p>
                                </div>
                            </div>
                            <div class="tmp-star">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="client-para">I hired Arpan because my ad account was restricted for unknown reason. Other freelancers said that it could not be unlocked. I almost gave up, but Arpan had it unlocked in less than a week.</p>
                        <div class="quat-logo">
                            <img src="{% static 'images/testimonial/quat-logo.svg' %}" alt="quat-logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tmp-swiper-pagination tmp-swiper-pagination-01"></div>
    </div>
</section>
<!-- tmp Clients Testimonial End -->
{% endblock content %}