    
    {% extends "base.html" %}
    {% load static %} 
    {% block content %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h1 class="title split-collab">Project Details</h1>
                        <ul class="page-list">
                            <li class="tmp-breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                            <li class="tmp-breadcrumb-item active">Project Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->


    <div class="project-details-area-wrapper tmp-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="project-details-thumnail-wrap">
                        <img src="{{ project.banner_image.url }}" alt="thumbnail">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="project-details-content-wrap">
                        <h2 class="title">{{ project.title }}</h2>
                        {{ project.description|safe }}
                        <div class="video">
                            <h2 class="mini-title">Video Presentation</h2>
                            <video width="620" controls>
                                <source src="{{ project.video_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>            
                        {{ project.small_description|safe }}
                        <div class="project-details-swiper-wrapper">
                            <div class="swiper project-details-swiper">
                                <div class="swiper-wrapper">
                                    {% for image in projectimages %}
                                    <div class="swiper-slide">
                                        <div class="project-details-img">
                                            <img src="{{ image.image.url }}" alt="media-server-img">
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="project-details-swiper-btn">
                                <div class="project-swiper-button-prev"><span><i class="fa-solid fa-arrow-left"></i></span>Previous</div>
                                <div class="project-swiper-button-next">Next <span><i class="fa-solid fa-arrow-right"></i></span></div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Contact Area Start -->
                    <section class="get-in-touch-area pt--80">
                        <div class="container p-0">
                            <div class="contact-get-in-touch-wrap">
                                <div class="get-in-touch-wrapper tmponhover">
                                    <div class="row g-5 align-items-center">
                                        <div class="col-lg-12">
                                            <div class="contact-inner">
                                                <div class="contact-form">
                                                    <form class="tmp-dynamic-form" id="contact-form" method="POST" action="mailto:your-email@example.com">
                                                        <div class="contact-form-wrapper row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <input class="input-field" name="contact-name" id="contact-name" placeholder="Your Name" type="text" required="">
                                                                </div>
                                                            </div>
                
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <input class="input-field" name="contact-phone" id="contact-phone" placeholder="Phone Number" type="number" required="">
                                                                </div>
                                                            </div>
                
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <input class="input-field" id="contact-email" name="contact-email" placeholder="Your Email" type="text">
                                                                </div>
                                                            </div>
                
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <input class="input-field" type="text" id="subject" name="subject" placeholder="Subject">
                                                                </div>
                                                            </div>
                
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <textarea class="input-field" placeholder="Your Message" name="contact-message" id="contact-message"></textarea>
                                                                </div>
                                                            </div>
                
                                                            <div class="col-lg-12">
                                                                <div class="tmp-button-here">
                                                                    <button class="tmp-btn hover-icon-reverse radius-round w-100" name="submit" type="submit" id="submit">
                                                                        <span class="icon-reverse-wrapper">
                                                                            <span class="btn-text">Get In Touch</span>
                                                                            <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                            <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Contact Area End -->
                </div>
                
                <div class="col-lg-4">
                    <div class="signle-side-bar project-details-area tmponhover">
                        <div class="header">
                            <h3 class="title">Project Details</h3>
                        </div>
                        <div class="body">
                            <div class="project-details-info">Project : <span>Self Hosted Mini Media Server</span></div>
                            <div class="project-details-info">Techstack : <span>Python, FastAPI, jQuery table</span></div>
                            <div class="project-details-info">URL : <span>https://github.com/arpan8925/Mini-Media-Server</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Area  -->
    {% endblock content %}